@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --w-orange: #ff9900;
  --border: 1px solid rgba(0, 0, 0, 0.4);
  --black: rgba(0, 0, 0, 0.7);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.popularBooks {
  margin-bottom: 30px;

  .topText {
    display: flex;
    color: var(--black);
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: var(--border);
  }

  .booksList {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.width {
  width: 100px;
}
