.review {
  max-width: 1440px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;

  .reviewForm {
    width: 90%;
    border: 1px solid #ff9900;
    padding: 25px;
    border-radius: 10px;
    height: 400px;

    h3 {
      font-size: 20px;
    }

    .userInfo {
      display: flex;
      justify-content: space-between;

      input {
        margin-top: 20px;
        padding: 8px 10px;
        border-radius: 5px;
        border: 1px solid #ff9900;
        outline: none;
        width: 45%;
        background-color: #eeeeee;
      }
    }

    .button {
      display: block;
      width: 40%;
      background-color: #ff9900;
      border-radius: 5px;
      border: none;
      padding: 5px;
      margin-top: 20px;
      cursor: pointer;
    }

    .rating {
      margin-top: 20px;
      margin-bottom: 0;
    }

    textarea {
      margin-top: 20px;
      padding: 8px 10px;
      border-radius: 5px;
      border: 1px solid #ff9900;
      outline: none;
      background-color: #eeeeee;
    }
  }

  .reviewBlock {
    .reviewElement {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      border: 1px solid #ff9900;
      padding: 8px 10px;
      margin-bottom: 20px;

      .name {
        margin-right: 15px;
      }

      .ratingEl {
        svg {
          width: 20px;
          height: 25px;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1028px) {
  .review {
    max-width: 1008px;
    min-width: 769px;

    .reviewForm {
      width: 90%;
      border: 1px solid #ff9900;
      padding: 25px;
      border-radius: 10px;
      height: 370px;

      h3 {
        font-size: 18px;
      }

      .userInfo {
        display: flex;
        justify-content: space-between;

        input {
          margin-top: 20px;
          padding: 8px 10px;
          border-radius: 5px;
          border: 1px solid #ff9900;
          outline: none;
          width: 45%;
          background-color: #eeeeee;
        }
      }

      .button {
        display: block;
        width: 40%;
        background-color: #ff9900;
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-top: 20px;
        cursor: pointer;
      }

      .rating {
        margin-top: 20px;
        margin-bottom: 0;
      }

      textarea {
        margin-top: 20px;
        padding: 8px 10px;
        border-radius: 5px;
        border: 1px solid #ff9900;
        outline: none;
        background-color: #eeeeee;
      }
    }

    .reviewBlock {
      .reviewElement {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid #ff9900;
        padding: 8px 10px;
        margin-bottom: 20px;

        .name {
          margin-right: 15px;
        }

        .ratingEl {
          svg {
            width: 20px;
            height: 25px;
          }
        }
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .review {
    max-width: 748px;
    min-width: 420px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    .reviewForm {
      width: 100%;
      border: 1px solid #ff9900;
      padding: 15px;
      border-radius: 10px;
      height: 350px;
      margin-bottom: 20px;

      h3 {
        font-size: 16px;
      }

      .userInfo {
        display: flex;
        justify-content: space-between;

        input {
          margin-top: 20px;
          padding: 5px 7px;
          border-radius: 5px;
          border: 1px solid #ff9900;
          outline: none;
          width: 45%;
          background-color: #eeeeee;
        }
      }

      .button {
        display: block;
        width: 40%;
        background-color: #ff9900;
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-top: 20px;
        cursor: pointer;
      }

      .rating {
        margin-top: 20px;
        margin-bottom: 0;
      }

      textarea {
        margin-top: 20px;
        padding: 8px 10px;
        border-radius: 5px;
        border: 1px solid #ff9900;
        outline: none;
        background-color: #eeeeee;
      }
    }

    .reviewBlock {
      .reviewElement {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid #ff9900;
        padding: 8px 10px;
        margin-bottom: 20px;
        font-size: 13px;

        .name {
          margin-right: 15px;
        }

        .ratingEl {
          svg {
            width: 15px;
            height: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 419px) {
  .review {
    max-width: 409px;
    min-width: 320px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .reviewForm {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      height: 325px;
      margin-bottom: 10px;

      h3 {
        font-size: 14px;
      }

      .userInfo {
        input {
          margin-top: 20px;
          padding: 5px 7px;
          border-radius: 5px;
        }
      }

      .button {
        margin-top: 10px;
      }

      .rating {
        margin-top: 20px;
        margin-bottom: 0;
        svg {
          width: 20px;
          height: 20px;
        }
      }

      textarea {
        margin-top: 10px;
        padding: 8px 10px;
      }
    }

    .reviewBlock {
      .reviewElement {
        padding: 8px 10px;
        margin-bottom: 10px;
        font-size: 13px;

        .name {
          margin-right: 15px;
        }

        .ratingEl {
          svg {
            width: 15px;
            height: 20px;
          }
        }
      }
    }
  }
}
