.bookDetail {
  max-width: 1440px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 40px;
  margin-top: 40px;

  .bookInfo {
    display: flex;
    flex-direction: column;

    .bookHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h2 {
        font-size: 28px;
        line-height: 33px;
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .bookBody {
      display: flex;
      justify-content: space-between;
      /* flex-wrap: wrap; */
      margin-bottom: 40px;

      img {
        // width: 300px;
        height: 200px;
        margin-right: 40px;
      }

      .bookDescription {
        font-size: 17px;
        line-height: 28px;
        height: 80%;
      }

      .infoBlock {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
        height: 20%;
        // margin-top: 60px;

        .infoIcons {
          display: flex;
          justify-content: space-between;
          align-items: center;

          svg {
            margin-right: 5px;
          }
        }

        .persons {
          display: flex;

          div {
            margin-right: 40px;
          }
        }
      }
    }
  }

  .bookAudio {
    display: flex;

    .audiosSelect {
      border: 1px solid rgb(116, 116, 116);
      border-radius: 5px;
      width: 35%;
      height: 150px;
      overflow-y: scroll;
      scrollbar-color: rgb(116, 116, 116) green;
      scrollbar-width: thin;

      ul {
        li {
          display: flex;
          justify-content: space-between;
          padding: 5px;

          span:last-child {
            text-align: right;
          }
        }
      }
    }

    .playerContainer {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      .audioPlayer {
        border: 1px solid rgb(116, 116, 116);
        background-color: #eeeeee;
      }
    }
  }

  .booksList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4vw;
    margin-top: 40px;

    .bookCard {
      width: 250px;
      border: 1px solid rgb(187, 187, 187);
      border-radius: 6px;
      padding: 15px;
      cursor: pointer;
      transition: 0.3s;

      .info {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;

          svg {
            margin-right: 3px;
            width: 20px;
            height: 20px;
          }
        }
      }

      .name {
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
      }

      .imgBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
          width: 200px;
          height: 300px;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .bookDetail {
    max-width: 1003px;
    min-width: 769px;
    margin-bottom: 20px;
    margin-top: 20px;

    .bookInfo {
      .bookHeader {
        h2 {
          font-size: 24px;
          line-height: 30px;
        }

        svg {
          width: 30px;
          height: 30px;
        }
      }

      .bookBody {
        img {
          // width: 300px;
          height: 200px;
          margin-right: 40px;
        }

        .bookDescription {
          font-size: 15px;
          line-height: 28px;
          height: 80%;
        }
      }
    }

    .bookAudio {
      .audiosSelect {
        // height: 120px;
      }
    }

    .booksList {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2vw;
      margin-top: 30px;

      .bookCard {
        width: 180px;

        border-radius: 6px;
        padding: 5px;

        .info {
          margin-top: 5px;

          span {
            font-size: 11px;
          }
        }

        .name {
          font-size: 12px;
        }

        .imgBlock {
          img {
            width: 160px;
            height: 250px;
          }
        }
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .bookDetail {
    max-width: 748px;
    min-width: 420px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-top: 20px;

    .bookInfo {
      .bookHeader {
        h2 {
          font-size: 20px;
          line-height: 30px;
        }

        svg {
          width: 30px;
          height: 30px;
        }
      }

      .bookBody {
        margin-bottom: 20px;

        img {
          display: none;
          height: 150px;
          margin-right: 20px;
        }

        .bookDescription {
          font-size: 14px;
          line-height: 24px;
        }

        .infoBlock {
          margin: 10px 0 20px 0;
          .persons {
            div {
              margin-right: 20px;
            }
          }
        }
      }
    }

    .bookAudio {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .audiosSelect {
        border: 1px solid rgb(116, 116, 116);
        border-radius: 5px;
        width: 100%;
        // height: 120px;
        margin-bottom: 20px;

        ul {
          li {
            display: flex;
            justify-content: space-between;
            padding: 5px;

            span:last-child {
              text-align: right;
            }
          }
        }
      }

      .playerContainer {
        width: 100%;
      }
    }

    .booksList {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2vw;
      margin-top: 20px;

      .bookCard {
        width: 180px;
        margin-bottom: 20px;

        border-radius: 6px;
        padding: 5px;

        .info {
          margin-top: 5px;

          span {
            font-size: 11px;
          }
        }

        .name {
          font-size: 12px;
        }

        .imgBlock {
          img {
            width: 160px;
            height: 180px;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 419px) {
  .bookDetail {
    max-width: 409px;
    min-width: 320px;
    padding: 0 5px;
    margin-bottom: 10px;
    margin-top: 10px;

    .bookInfo {
      .bookHeader {
        margin-bottom: 10px;
        h2 {
          font-size: 18px;
          line-height: 30px;
        }

        svg {
          width: 25px;
          height: 25px;
        }
      }

      .bookBody {
        margin-bottom: 20px;

        img {
          display: none;
          height: 150px;
          margin-right: 20px;
        }

        .bookDescription {
          font-size: 14px;
          line-height: 24px;
        }

        .infoBlock {
          margin: 10px 0 20px 0;
          .persons {
            div {
              margin-right: 20px;
            }
          }
        }
      }
    }

    .bookAudio {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .audiosSelect {
        border: 1px solid rgb(116, 116, 116);
        border-radius: 5px;
        width: 100%;
        // height: 120px;
        margin-bottom: 20px;

        ul {
          li {
            display: flex;
            justify-content: space-between;
            padding: 5px;

            span:last-child {
              text-align: right;
            }
          }
        }
      }

      .playerContainer {
        width: 100%;
      }
    }

    .booksList {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2vw;
      margin-top: 10px;

      .bookCard {
        width: 130px;
        margin-bottom: 10px;

        border-radius: 6px;
        padding: 5px;

        .info {
          margin-top: 5px;

          span {
            font-size: 11px;
          }
        }

        .name {
          font-size: 12px;
        }

        .imgBlock {
          img {
            width: 110px;
            height: 130px;
          }
        }
      }
    }
  }
}
