.container {
  border-top: 1px solid #0606065e;

  .footer {
    padding: 20px 10px;
    max-width: 1440px;
    min-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 60px;
      width: 190px;
      border-radius: 5px;
    }

    .icon {
      svg {
        margin-right: 10px;
      }

      a {
        color: inherit;
      }
    }

    .contacts {
      p {
        margin-bottom: 5px;
        font-size: 18px;
      }
    }

    .about {
      a {
        margin-bottom: 5px;
        font-size: 18px;
        display: block;
        color: inherit;
        text-decoration: none;
      }

      a:hover {
        color: #ff9900;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    border-top: 1px solid #0606065e;

    .footer {
      max-width: 1003px;
      min-width: 780px;

      img {
        height: 60px;
        width: 190px;
        border-radius: 5px;
      }

      .icon {
        svg {
          margin-right: 10px;
        }

        a {
          color: inherit;
        }
      }

      .contacts {
        p {
          margin-bottom: 5px;
          font-size: 15px;
        }
      }

      .about {
        a {
          margin-bottom: 5px;
          font-size: 15px;
          display: block;
          color: inherit;
          text-decoration: none;
        }

        a:hover {
          color: #ff9900;
        }
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 769px) {
  .container {
    .footer {
      max-width: 749px;
      min-width: 420px;
      padding: 10px 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      img {
        height: 50px;
        width: 150px;
        border-radius: 5px;
      }

      .icon {
        margin-bottom: 10px;
        svg {
          margin-right: 10px;
          width: 25px;
          height: 25px;
        }

        a {
          color: inherit;
        }
      }

      .contacts {
        p {
          margin-bottom: 5px;
          font-size: 14px;
        }
      }

      .about {
        margin-bottom: 10px;
        a {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 419px) {
  .container {
    .footer {
      max-width: 409px;
      min-width: 320px;
      padding: 10px 10px;
      display: flex;
      flex-direction: column;

      img {
        height: 50px;
        width: 150px;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      .icon {
        margin-bottom: 10px;
        svg {
          margin-right: 10px;
          width: 25px;
          height: 25px;
        }

        a {
          color: inherit;
        }
      }

      .contacts {
        margin-bottom: 10px;
        p {
          margin-bottom: 5px;
          font-size: 14px;
          text-align: center;
        }
      }

      .about {
        margin-bottom: 10px;
        text-align: center;
        a {
          font-size: 14px;
        }
      }
    }
  }
}
