.dontate {
  max-width: 1440px;
  min-width: 1029px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0 10px;

  h2 {
    font-size: 30px;
  }

  .donateDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    .donateImg {
      width: 35%;
      img {
        width: 300px;
      }
    }

    .donateDes {
      width: 60%;

      p {
        font-size: 16px;
        margin-top: 20px;
      }
    }
  }

  .question {
    margin-top: 60px;

    h2 {
      margin-bottom: 20px;
    }

    .accordion {
      background-color: inherit;
    }
  }
}

@media (min-width: 769px) and (max-width: 1028px) {
  .dontate {
    max-width: 1008px;
    min-width: 769px;
    margin-top: 40px;
    margin-bottom: 40px;

    h2 {
      font-size: 25px;
    }

    .donateDiv {
      .donateImg {
        width: 35%;
        img {
          width: 250px;
        }
      }

      .donateDes {
        width: 60%;

        p {
          font-size: 14px;
          margin-top: 15px;
        }
      }
    }

    .question {
      margin-top: 40px;

      h2 {
        margin-bottom: 20px;
      }

      .accordion {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .dontate {
    max-width: 748px;
    min-width: 420px;
    margin-top: 25px;
    margin-bottom: 25px;

    h2 {
      font-size: 20px;
    }

    .donateDiv {
      .donateImg {
        width: 35%;
        display: none;
        img {
          width: 250px;
        }
      }

      .donateDes {
        width: 100%;

        p {
          font-size: 13px;
          margin-top: 10px;
        }
      }
    }

    .question {
      margin-top: 40px;

      h2 {
        margin-bottom: 20px;
      }

      .accordion {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 419px) {
  .dontate {
    max-width: 409px;
    min-width: 320px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 5px;

    h2 {
      font-size: 16px;
    }

    .donateDiv {
      .donateImg {
        width: 35%;
        display: none;
        img {
          width: 250px;
        }
      }

      .donateDes {
        width: 100%;

        p {
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }

    .question {
      margin-top: 20px;

      h2 {
        margin-bottom: 10px;
      }

      .accordion {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
