.registrationPage {
  max-width: 1440px;
  min-width: 1024px;
  margin: 0 auto;
  height: calc(100vh - 300px);
  // height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  .registrationInner {
    width: 30%;
    // height: 65%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);

    h2 {
      text-align: center;
      margin-bottom: 25px;
      font-size: 25px;
    }

    form {
      display: flex;
      flex-direction: column;

      p {
        font-size: 16px;
      }

      .inputContainer {
        border-bottom: 2px solid #ff9900;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        svg {
          margin: 0 10px;
          margin-bottom: 10px;
        }

        input {
          border: none;
          outline: none;
          width: 100%;
          background: transparent;
        }
      }
    }

    .button {
      color: #fff;
      padding: 5px 15px;
      border-radius: 20px;
      background: #ff9900;
      margin-top: 20px;
      margin-bottom: 20px;
      cursor: pointer;
      transition: 0.4s;
      font-size: 18px;
      border: none;
      outline: none;
    }

    .btnLogin {
      color: blue;
      text-align: center;
      cursor: pointer;
    }
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .registrationPage {
    max-width: 1003px;
    min-width: 769px;

    .registrationInner {
      width: 40%;

      h2 {
        font-size: 23px;
      }

      form {
        p {
          font-size: 14px;
        }
      }

      .button {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .registrationPage {
    max-width: 748px;
    min-width: 420px;

    .registrationInner {
      width: 60%;

      h2 {
        margin-bottom: 15px;
        font-size: 18px;
      }

      form {
        p {
          font-size: 14px;
        }
      }

      .button {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 419px) {
  .registrationPage {
    max-width: 409px;
    min-width: 320px;
    padding: 0 5px;
    margin: 15px 0;

    .registrationInner {
      width: 80%;

      h2 {
        margin-bottom: 10px;
        font-size: 15px;
      }

      form {
        p {
          font-size: 13px;
        }
      }

      .button {
        font-size: 13px;
        margin: 5px 0;
      }
    }
  }
}
